/* || Typography */

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-VF.woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


/* || Colors */

$text-color: black;
$text-color-alt: white;
$bg-color: #F2F6FF;
$bg-color-alt: white;
$primary-color: #3913B8;
$secondary-color: #2fb5fc;
$grey-color: #E0E0E0;
$darker-gray-color: rgba(0, 0, 0, 0.5);

/* || General Styles */

html { 
    font-size: 62.5%; /* = 10px */
    font-family: Montserrat;
    color: $text-color
} 

body{
    font-size: 2.4rem; //big
    font-size: 1.8rem;
    font-weight: 400;
    background-color: $bg-color;
}

h1 {
    font-size: 7.2rem; //big
    font-size: 3.6rem;
    font-weight: 700;
}

h2 {
    font-size: 3.6rem; //big
    font-size: 2.4rem;
    font-weight: 700;
}

p {
    font-size: 2.4rem; //big
    font-size: 1.8rem;
    font-weight: normal;
}

/* || Custom Styles */


.HeaderContainer{
    padding: 2rem 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Menu{
    display: none;
}
.MenuList{
    

}
.MenuItem{
}

.Hamburger{
    border: none;
    background: none;
}

.HeroContainer{
    margin-top: 2rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeroContent{
    display: flex;
    flex-direction: column;
}
.Logo img{
    width: 45px;
    height: auto;
}

.MainHeading{
    color: $primary-color;
    white-space: nowrap;
}

.MainSubHeading{
    margin-top: 1rem;
}

.MainIntro{
    margin-top: 1rem;
    line-height: 1.2;
    font-weight: 500;
}

.HeroButtons{
    margin-top: 1rem;
    display: flex;
}

.PrimaryButton{
    display: flex;
    text-decoration: none;
    color: $text-color;
    width: 12.5rem;
    height: 5rem;
    background-color: $secondary-color;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 1.5rem;
    box-sizing: border-box;
}

.SecondaryButton{
    display: flex;
    text-decoration: none;
    color: $text-color;
    width: 12.5rem;
    height: 5rem;
    border: 2px solid $secondary-color;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 1.5rem;
    box-sizing: border-box;
}

.CTA1{
    margin-right: 2rem;
}

.ProfileImage{
    margin-top: 2rem;
    width: 221px;
    height: auto;
}

.Socials{
    display: flex;
    width: 240px;
    justify-content: space-between;
    margin-top: 2rem;
}
.SocialLink{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    width: 42px;
    height: 42px;
    img{
        width: 24px;
        height: auto;
    }
}


.Github{
    background-color: black;
}
.Linkedin{
    background-color: #2262AF;
}
.Mail{
    background-color: #D64A3A;
}

.Projects{
    margin-top: 4rem;
}
.ProjectsContainer{
    padding: 0 2rem;
}

.SectionHeading{
    margin-bottom: 2rem;
}
.ProjectsGrid{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.Project{
    display: flex;
    flex-direction: column;
    width: 231px;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: $bg-color-alt;
    margin-bottom: 4rem;
}

.TitleLink{
    
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
}

.ProjectContent{
    padding: 0 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.ProjectInfo{
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
}

.LiveLink{
    margin: 2rem 0;
    width: 92px;
    align-self: center;
}

.SeeMore{
    display: flex;
    align-items: center;
}
.ArrowIcon{
    margin-left: 1rem;
}
.Skills{
    margin-top: 2rem;
}
.SkillsContainer{
    padding: 0 2rem;
}
.Abilities{
    display: grid;
    grid-template-columns: 1fr;
}
.Ability{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-color-alt;
    width: 100%;
    height: 6rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.AbilityText{
    font-size: 1.8rem;
    font-weight: 500;
}

.Technologies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 3rem;
    margin-top: 2rem;
}

.Technology img{
    width: auto;
    height: 68px;
}

.Footer{
    margin-top: 2rem;
}
.ContactContainer{
    padding: 0 2rem;
  
}

.ContactForm{
    display: flex;
    flex-direction: column;
    
}

.InputContainer{
    background-color: $grey-color;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 4.8rem;
    
    input{
        margin-left: 1rem;
        background: none;
        border: none;
        outline: none;
        font-size: 1.4rem;
        font-family: Montserrat;
    }
    input::placeholder{
        font-size: 1.4rem;
        font-weight: 700;
        color: $darker-gray-color;
    }
    img{
        width: 1.8rem;
        height: auto;
    }
    
}
.TextSection{
    background-color: $grey-color;
    padding: 0 2rem;
    border-radius: 1.25rem;
    color: $darker-gray-color;
    font-weight: 700;
    font-size: 1.4rem;
}
.Message{
    background-color: $grey-color;
    border: none;
    
    
    width: 100%;
    padding-top: 2rem;
    resize: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.4rem;
    outline: none;
}

textarea::placeholder{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.4rem;
    color: $darker-gray-color;
}

.Submit{
    background: none;
    margin-top: 1rem;
    align-self: center;
}

.ContactExtra{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.ContactText{
    line-height: 1.3;
}

.MailLink{
    text-decoration: none;
    color: $primary-color;
    font-weight: 700;
    
}

.ContactSocials{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    align-self: center;
}

.Stars{
    margin: 2rem 0 4rem 0;
    align-self: center;
}